# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\zhuyanhuang1\nacos\mymemberServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
